[user]
	email = matthew.forrester@speechmarks.com
	name = Matthew Forrester
[push]
	default = simple
[url "ssh://git@"]
	insteadOf = github://
[merge]
    # tool = vimdiff
	tool = kdiff3
	conflictstyle = diff3
	prompt = false
[diff]
	tool = kdiff3
