[user]
	email = matthew.forrester@speechmarks.com
	name = Matthew Forrester\n
[push]
	default = simple
[url "ssh://git@"]
	insteadOf = github://
[merge]
    tool = nvim -d
    ; tool = meld
	conflictstyle = diff3
	prompt = false
[diff]
	tool = meld
    ; tool = meld
[core]
	editor = vim
	excludesfile = ~/.gitignore
